<!DOCTYPE html>
<html>
<head>
    <title>Borrowed Books</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="sidebar">
        <h2>library</h2>
        <a href="/dashboard">Dashboard</a>
        <a href="/books">books</a>
        <a href="/borrowed">Borrowed Books</a>
        <a href="/visits">Library Visits</a>
        <a href="/students">Students</a>
        <a href="/logout">logout</a>
    </div>

<div class="main">

    <div class="page-header">

        <h1>Borrowed Books</h1>

        <a
            href="/borrowed/add"
            class="primary-btn"
        >
            + Borrow Book
        </a>

    </div>

    <table>

        <tr>
            <th>Student</th>
            <th>Book</th>
            <th>Borrow Date</th>
            <th>Return Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>

        <% borrowedBooks.forEach(book => { %>

        <tr>

            <td><%= book.student_name %></td>

            <td><%= book.book_title %></td>

            <td><%= book.borrowed_date %></td>

            <td><%= book.return_date %></td>

            <td>

                <% if(book.status === 'Borrowed'){ %>

                    <span class="status-borrowed">
                        Borrowed
                    </span>

                <% } else { %>

                    <span class="status-returned">
                        Returned
                    </span>

                <% } %>

            </td>
            <td>
                <a href="/borrowed/edit/<%= book.id %>" class="edit-btn">Edit</a>
                <% if(book.status === 'Borrowed'){ %>

                    <a href="/borrowed/return/<%= book.id %>" class="return-btn" onclick="return confirm('Mark this book as returned?')">Return</a>

                <% } %>
            </td>

        </tr>

        <% }) %>

    </table>

</div>

</body>
</html>